@charset "utf-8";
/* CSS Document */
.main_container
{
	width:100%;  
	position:relative; 
	margin-left: auto;
	margin-right: auto;
	background:#FFFFFF;
	
}

.home_container
{
	position:relative; 
	min-height:100%px;
	margin:auto;
	width:960px;
}

.home_content
{
	position:absolute;
	display:block;
	bottom:26px;
	width:960px;
	margin-left:50%;
	margin-bottom:30px;
	left:-480px;
	z-index:1010;	
}

.panel
{
	width:960px;
	height:80px;
	background:url(../images/banner_bg.png) no-repeat;
	margin:0 auto;
	z-index:12;
	text-align:center;
}

.panel_content
{
	position:relative;
}

.thumbnail1
{
	position:absolute;
	top:16px;
	left:15px;
	width:50px;
	text-align:center
}

.thumbnail2
{
	position:absolute;
	top:16px;
	left:193px;
	width:50px;
	text-align:center
}

.thumbnail3
{
	position:absolute;
	top:16px;
	left:371px;
	width:50px;
	text-align:center
}

.thumbnail4
{
	position:absolute;
	top:16px;
	left:549px;
	width:50px;
	text-align:center
}

.thumbnail5
{
	position:absolute;
	top:16px;
	left:728px;
	width:50px;
	text-align:center
}

.flip
{
	width:900px;
	height:60px;
	margin:0 auto;
	display:block;
	outline:none;
	background:url(../images/btn_flip.png) no-repeat center top;	
}

.banners
{
	position:relative;
	z-index:1;
}

.banner
{
	list-style:none;
	position:absolute;
	margin:0;
	padding:0;
	width:100%;	
}
.banner li a
{
	width:100% !important;
	position:absolute;	
	display:block;
	z-index:10;
	top:0px;
}


#banner1
{
	background:url(../images/_r1_c1.jpg) center no-repeat #FFFFFF;
}








